<div class="container mt-3">
<p class="h1">Every day is a chance to create a memory and to love a little more.
</p>
<img src="assets/cancerAware.jpg" class="img-fluid" alt="cancer awareness">
<div class="row align-items-center mt-3">

  <!-- Image Column -->
  <div class="col-md-7">
    <p>Keeping a positive outlook is proven to help with stress management, but when someone says to "think positive" or "be optimistic" during a time such as a cancer diagnosis, it can be much easier said than done. We know that cancer isn't all rainbows and butterflies, and once a patient enters a dark mindset, it can be hard to get out of it. But most of us have that one message of hope and inspiration that somehow manages to help bring some perspective and optimism to a situation.</p>
  </div>

  <!-- Quotes Column -->
  <div class="col-md-5">
    <p>
      {{ quote }}
    <br>
      -{{ author }}
    </p>
  </div>
</div>
</div>

